/******************************************* Display Page *******************************************/
.demoPanel {
  width: 80%;
  padding: 20px;
  margin: 5px auto 15px; }

.borderComponents {
  border: 2px solid rgba(248, 151, 29, 0.77);
  padding: 20px; }
  .borderComponents:before, .borderComponents:after {
    content: '';
    display: table; }
  .borderComponents:after {
    clear: both; }

.captorReadOnlyInput {
  position: relative; }

.borderComponentBox {
  height: 150px; }

.dateTimePickerSandbox .div1 {
  display: inline-block;
  width: 70%; }