/*********************   Color Variables **************/

// Red shades
$guardsman-red: #AB2B3B;  //$delete
$mandy:         #C04B59; //$red-dark 

// Yellow Shades
$ochre:         #BF7416; //$yellow-med
$orange:        #F8971D; //$yellow
$carrot-orange: rgba(248,151,29,0.77); //$yellow-med

// Grey Shades
$black:        #000000; //Same
$black-russian: #101113; //$clean-gray-dark
$nero:         #252525; //$gray-darker

$baltic-sea:   #30373E; //$gray-dark
$outer-space:  #303738; //$gray-dark
$matterhorn:   #555555; //$clean-gray-med
$silver:       #BBBBBB; //$nav-icon-color
$suva-grey:    #8F8F8F; //$gray-med
$white:        #FFFFFF; //Same
$dark:         #211E1E; //Same
$dark-grey:    #2F2F2F; //$gray-darker
$toastr-background: rgba(39,44,49,0.6);
